@using SportBox7.Application.Features.Articles.Queries.Drafts;
@model DraftsListingOutputModel
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="@Model.MetaDescription">
    <meta name="keywords" content="@Model.MetaKeywords">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="icon" href="~/img/icon.ico">
    <title>@Model.MetaTitle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/"><img src="~/img/core-img/logoSmall.jpg" alt="sportBox7-logo"></a>
                            </div>
                            <!-- Advertisement -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Login -->
                                <div class="login d-flex">
                                    <a href="/identity/logout">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="~/img/core-img/logoSmall-black.jpg" alt="sportBox7 logo"></a>
                        </div>
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    @foreach (var menuelement in Model.MenuElements)
                                    {
                                        <li><a href="@menuelement.Url" class="active">@menuelement.Name</a></li>
                                    }
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <partial name="_CookieConsentPartial" />
    <div class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <!-- Breaking News Widget -->
                   
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">
                        <h4>Drafts</h4>
                        <hr />
                        <a href="/editorsarticles/create" class="btn btn-primary btn-group-sm">Create new draft</a>
                        <br />
                        <br />
                        <table class="table table-bordered">
                            <tr>
                                <th>Target date</th>
                                <th>Article Name</th>
                                <th>Actions</th>
                            </tr>
                            @if (Model != null && Model.Drafts != null)
                            {
                                @foreach (var draft in Model.Drafts as IEnumerable<DraftsListingModel>)
                                {
                                    <tr>
                                        <td>@draft.TargetDate.ToString("dd-MM-yyyy")</td>
                                        <td>@draft.Title</td>
                                        <td>
                                            <a href="/editorsarticles/edit?id=@draft.Id" class="post-title">Edit</a> |
                                            <a href="/editorsarticles/publishdraft?id=@draft.Id">Publish</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                        @{
                            var prevDisabled = !Model!.Drafts!.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model!.Drafts!.HasNextPage ? "disabled" : "";
                        }


                        @for (int i = 1; i <= Model.Drafts.TotalPages; i++)
                        {
                            if (i == Model.Drafts.PageIndex)
                            {
                                <a href="#"class="btn btn-dark">
                                    @i
                                </a>
                            }
                            else
                            {
                                <a asp-action="Drafts"
                                   asp-route-pageIndex="@(i)"
                                   class="btn btn-light">
                                    @i
                                </a>
                            }
                        }
                    </div>
                </div>
                <!-- SideBar -->
                <div class="col-12 col-md-6 col-lg-4">
                   
                </div>
                <!-- SideBar End -->
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
    <!-- ##### Featured Post Area End ##### -->
    <footer>
        <hr />
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="~/lib/jquery/dist/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
</body>
</html>

