@using SportBox7.Application.Features.Articles.Queries.HomePage;
@using System.Globalization;
@model FrontPageOutputModel
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="@Html.Raw(Model.MetaDescription)">
    <meta name="keywords" content="@Html.Raw(Model.MetaKeywords)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="icon" href="~/img/icon.ico">
    <meta property='og:type' content='article' />
    <meta property='og:title' content="Големите дни в българския спорт" />
    <meta property="og:image" content="~/img/core-img/LogoBig.jpg" />
    <meta property="og:description" content="Sportbox7.com е ресурс посветен на отбелязването на значимите годишнини в българския спорт. " />
    <meta property='og:url' content='@($"{Context.Request.Scheme}://{Context.Request.Host}")' />
    <title>@Html.Raw(Model.MetaTitle)</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/calendar-style.css">
    <link rel="stylesheet" href="~/css/calendar-theme.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/"><img src="~/img/core-img/logoSmall.jpg" alt="sportBox7-logo"></a>
                            </div>
                            <div>
                                <span id="slogan">Големите дни в българския спорт</span>
                            </div>
                            <!-- Advertisement -->
                            <div class="login-search-area d-flex align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="~/img/core-img/logoSmall-black.jpg" alt="sportBox7 logo"></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    @if (Model.CurrentCategory == null)
                                    {
                                        <li><a href="/" style="font-weight:bold; color:#000000" class="active">Начало</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/" style="font-weight:bold; color:#000000" class="active">Начало</a></li>
                                    }
                                    @{
                                        foreach (var item in Model.MenuCategories)
                                        {
                                            <li><a href="/articles?category=@item.NameEn" class="active">@Html.Raw(item.Name)</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <!-- Breaking News Widget -->
                    @if (Model != null && Model.RunningTextNews != null)
                    {
                        <div class="breaking-news-area d-flex align-items-center">
                            <div class="news-title">
                                <p><a href="#" id="latestNews">Предстоящи</a></p>
                            </div>
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    @{
                                        foreach (var article in Model.RunningTextNews)
                                        {
                                            <li><a href="/Articles/all?id=@article.ArticleId">@article.TargetDate.ToString("dd MMMM", new CultureInfo("bg-BG")):  @Html.Raw(article.Title)</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">
                        @if (Model != null && Model.OnTheDayArticles.Any())
                        {
                            if (Model.OnTheDayArticles.FirstOrDefault().TargetDate.Month == DateTime.Now.Month && Model.OnTheDayArticles.FirstOrDefault().TargetDate.Day == DateTime.Now.Day)
                            {
                                var cureentDayNews = Model.OnTheDayArticles.Where(n => n.TargetDate.Month == DateTime.Now.Month && n.TargetDate.Day == DateTime.Now.Day);
                                if (cureentDayNews.Count() == 1)
                                {
                                    <div class="single-blog-post featured-post mb-30">
                                        <div class="post-data">
                                            <a href="#" class="post-catagory">@cureentDayNews.FirstOrDefault().TargetDate.ToString("dd MMMM", new CultureInfo("bg-BG"))  /@Model.Topnews.FirstOrDefault().CategoryName</a>
                                            <a href="/articles/all?id=@cureentDayNews.FirstOrDefault().Id" class="post-title">
                                                <h6>@cureentDayNews.FirstOrDefault().H1</h6>
                                            </a>
                                            <div class="post-thumb">
                                                <a href="/articles/all?id=@cureentDayNews.FirstOrDefault().Id"><img class="article-image-list" src="@Model.Topnews.FirstOrDefault().ImageUrl" alt=""></a>
                                                <p>Изображение: @Html.Raw(cureentDayNews.FirstOrDefault().ImageCredit)<p>
                                            </div>
                                            <div class="post-meta">
                                                <p class="post-excerp">@Html.Raw(cureentDayNews.FirstOrDefault().Body)</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @foreach (var article in cureentDayNews)
                                    {
                                        <!-- Single Featured Post -->
                                        <div class="single-blog-post featured-post mb-30">
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">@article.TargetDate.ToString("dd MMMM", new CultureInfo("bg-BG")) /@article.Category</a>
                                                <a href="/articles/all?id=@article.Id" class="post-title">
                                                    <h6>@article.H1</h6>
                                                </a>
                                                <div class="post-thumb">
                                                    <a href="/articles/all?id=@article.Id"><img class="article-image-list" src="@article.ImageUrl" alt=""></a>
                                                    <p>Изображение: @Html.Raw(article.ImageCredit)<p>
                                                </div>
                                                <div class="post-meta">
                                                    <p class="post-excerp">@Html.Raw(article.Body.Substring(0, 220)) <a href="/articles/all?id=@article.Id">...вижте повече</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    }
                                }
                            }
                        }
                        else
                        {
                            <!-- Single Featured Post -->
                            <div class="single-blog-post featured-post mb-30">
                                <div class="post-data">
                                    <a href="#" class="post-catagory">@DateTime.Now.ToString("dd MMMM", new CultureInfo("bg-BG"))</a>
                                    <h4>Няма статии за този ден. Вижте предстоящите събития:</h4>
                                </div>
                            </div>

                            @foreach (var article in Model!.Topnews)
                            {
                                int targetMonth = article.TargetDate.Month - 1;
                                <!-- Single Featured Post -->
                                <div class="single-blog-post featured-post mb-30">
                                    <div class="post-data">
                                        <a href="/articles/date?year=@DateTime.Now.Year&month=@targetMonth&day=@article.TargetDate.Day" class="post-catagory">@article.TargetDate.ToString("dd MMMM", new CultureInfo("bg-BG"))  /@article.CategoryName</a>
                                        <a href="/articles/all?id=@article.Id" class="post-title">
                                            <h6>@article.Title</h6>
                                        </a>
                                        <div class="post-thumb">
                                            <a href="/articles/all?id=@article.Id"><img class="article-image-list" src="@article.ImageUrl" alt=""></a>
                                            <p>Изображение: @Html.Raw(article.ImageCredit)<p>
                                        </div>
                                        <div class="post-meta">
                                            <p class="post-excerp">@Html.Raw(article.Body.Substring(0, 220)) <a href="/articles/all?id=@article.Id">...вижте повече</a></p>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                        }

                    </div>
                </div>
                <!-- SideBar -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="calendar-wrapper"></div>
                    <script src="~/lib/jquery/dist/jquery-2.2.4.min.js"></script>
                    <script src="~/js/calendar.min.js"></script>
                    <script src="~/js/calendar-initializer.js"></script>
                    <div id="passed-events">
                        <p id="passed-events-par">Минали събития</p>
                    </div>
                    @if (Model != null && Model.SideBar != null)
                    {
                        foreach (var article in Model.SideBar)
                        {
                            int targetMonth = article.TargetDate.Month - 1;
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb single-video-post">
                                    <a href="/articles/all?id=@article.Id"><img src="@article.ImageUrl" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="/articles/date?year=@DateTime.Now.Year&month=@targetMonth&day=@article.TargetDate.Day" class="post-catagory">@article.TargetDate.ToString("dd MMMM", new CultureInfo("bg-BG"))</a>
                                    <div class="post-meta">
                                        <a href="/articles/all?id=@article.Id" class="post-title">
                                            <h6>@Html.Raw(article.Title)</h6>
                                        </a>
                                        <p class="post-date"><span>@article.CategoryName.ToUpper()</span></p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- SideBar End -->
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
    <!-- ##### Featured Post Area End ##### -->
    <footer>
        <hr />
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <!-- Popper js -->
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
</body>
</html>