@using SportBox7.Application.Features.Articles.Queries.HomePage;
@model FrontPageOutputModel
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="@Html.Raw(Model.MetaDescription)">
    <meta name="keywords" content="@Html.Raw(Model.MetaKeywords)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="icon" href="">
    <title>@Html.Raw(Model.MetaTitle)</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/calendar-style.css">
    <link rel="stylesheet" href="~/css/calendar-theme.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/"><img src="~/img/core-img/logoSmall.jpg" alt="sportBox7-logo"></a>
                            </div>
                            <!-- Advertisement -->
                            <div class="login-search-area d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="~/img/core-img/logoSmall-black.jpg" alt="sportBox7 logo"></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    @if (Model.CurrentCategory == null)
                                    {
                                        <li><a href="/" style="font-weight:bold; color:#000000" class="active">Начало</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/" style="font-weight:bold; color:#000000" class="active">Начало</a></li>
                                    }
                                    @{
                                        foreach (var item in Model.MenuCategories)
                                        {
                                            <li><a href="/articles?category=@item.NameEn" class="active">@Html.Raw(item.Name)</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <partial name="_CookieConsentPartial" />
    <div class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <!-- Breaking News Widget -->
                    @if (Model != null && Model.LatestNews != null)
                    {
                        <div class="breaking-news-area d-flex align-items-center">
                            <div class="news-title">
                                <p><a href="/articles" id="latestNews">Последни</a></p>
                            </div>
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    @{
                                        foreach (var article in Model.LatestNews)
                                        {
                                            <li><a href="/Articles/all?id=@article.ArticleId">@Html.Raw(article.Title)</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->
    <div class="featured-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="row">
                        <!-- TopNews -->
                        <div class="col-12 col-lg-7">
                            @if (Model != null && Model.OnTheDayArticles != null)
                            {
                                @foreach (var article in Model.OnTheDayArticles)
                                {
                                    <div class="single-blog-post featured-post">
                                        <div class="post-data">
                                            @if (article != null)
                                            {
                                                <a href="articles?category=@article.CategoryNameEn" class="post-catagory">@Html.Raw(article.CategoryNameEn)</a>
                                                <a href="/Articles/all?id=@article.ArticleId" class="post-title">
                                                    <h6>@Html.Raw(article.Title)</h6>
                                                </a>
                                            }

                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <!-- TopNews End -->
                        <!-- Other News -->
                        <div class="col-12 col-lg-5">
                            @if (Model != null && Model.SideBar != null)
                            {
                                @foreach (var article in Model.SideBar)
                                {
                                    <!-- Single Featured Post -->
                                    <div class="single-blog-post featured-post-2">
                                        @if (Model != null)
                                        {
                                            <div class="post-thumb single-video-post">
                                                <a href="/articles/all?id=@article.Id"><img src="@article.ImageUrl" alt=""></a>
                                            </div>
                                            <div class="post-data">
                                                <a href="/articles?category=@article.CategoryEN" class="post-catagory">@Html.Raw(article.CategoryName)</a>
                                                <div class="post-meta">
                                                    <a href="/Articles/all?id=@article.Id" class="post-title">
                                                        <h6>@Html.Raw(article.Title)</h6>
                                                    </a>
                                                    <!-- Post Like & Post Comment -->

                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </div>
                        <!-- Other News end -->
                    </div>
                </div>
                <!-- SideBar -->
                @{ int targetMonth = Model.TargetDate.Month - 1; }
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="calendar-wrapper"></div>
                    <script src="~/lib/jquery/dist/jquery-2.2.4.min.js"></script>
                    <script src="~/js/calendar.js"></script>
                    <script>
                        function selectDate(date) {
                            $('.calendar-wrapper').updateCalendarOptions({
                                date: date
                            });
                            let dateObject = new Date(date);
                            let day = dateObject.getDate();
                            let month = dateObject.getMonth();
                            let year = dateObject.getFullYear();
                            window.location.href = `/articles/date?year=${year}&month=${month}&day=${day}`;

                        }
                        var defaultConfig = {
                            weekDayLength: 1,
                            date: new Date(@Model.TargetDate.Year, @targetMonth, @Model.TargetDate.Day),
                            onClickDate: selectDate,
                            showYearDropdown: true,
                        };

                        $('.calendar-wrapper').calendar(defaultConfig);
                    </script>
                </div>
                <!-- SideBar End -->
                <div class="col-12 col-md-6 col-lg-4">
                    @if (Model != null && Model.SideBar != null)
                    {
                        foreach (var article in Model.SideBar)
                        {
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb single-video-post">
                                    <a href="/Articles/all?id=@article.Id"><img src="@article.ImageUrl" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="articles?category=@article.CategoryEN" class="post-catagory">@Html.Raw(article.CategoryName)</a>
                                    <div class="post-meta">
                                        <a href="/Articles/all?id=@article.Id" class="post-title">
                                            <h6>@Html.Raw(article.Title)</h6>
                                        </a>
                                        <p class="post-date"><span></span></p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- SideBar End -->
            </div>
        </div>
    </div>
    <!-- ##### Featured Post Area End ##### -->
    <footer>
        <hr />
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Files ##### -->
    <!-- Popper js -->
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
</body>

</html>